a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
    content: ’’;
    content: none;
}


/* remember to define visible focus styles!
:focus{
    outline:?????;
} */


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/*ANIMATION*/

@keyframes moveup {
    0%   {top: 0px;}
    25%  {top: -30vh;}
    50%  {top: -70vh;}
    100% {top: -100vh;}
}


/* REST */

html {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.jumbotron {
    margin-top: 15px;
    background-color: #8a0526;
    padding: 2rem 1rem;
        min-height: 40vh;
}

.container-fluid {
    background: #64081f;
}

.jumbotron input {
    background: #64081f;
    border: 0;
    height: 2.5em;
    border-radius: 5px;
    padding: 0 5px;
    color: #d8a91a;
    font-size: 2em;
    text-align: center;
    margin-top: -1rem;

}

.crown{
      width: 150px;
}

.crown-holder{
  position: absolute;
  top: -50px;
      z-index: 5;
}

.crown-holder.left{
  right: -36px;
    display: inline-block;
    max-width: 150px;
    -ms-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
}

.crown-holder.right{
    left: -35px;
    -ms-transform: rotate(-36deg);
    -webkit-transform: rotate(-36deg);
    transform: rotate(-36deg);
}


.curtain{
  width: 100vw;
  height: 100vh;
  /*background: #8a0526;*/
  position: absolute;
  z-index:100;
}

.upper-curtain{
  height: 80vh;
  background: #460b1a;
}
.lower-curtain{
  height: 20vh;
  /*background:url("../img/curtain_bottom.png") repeat-x;*/
}

.half-circle{
  width: 10vw;
height: 100%;
background: #460b1a;
/* border-radius: 100px; */
border-bottom-left-radius: 50vw;
border-bottom-right-radius: 50vw;
    display: inline-block;
        float: left;
}

.curtain h1{
  color: #d8a91a;
  padding-bottom: 1rem;
  font-size: 5.5em;
  text-shadow: 7px 11px 26px rgb(37, 37, 37);
  margin-top: 20vh;
}

.curtain h2{
  color: #d8a91a;
  padding-bottom: 1rem;
  font-size: 1.5em;
  text-align:center;
  margin-top: 2em;
}

.main-header input {
    background: #8a0526;
    border: 0;
    height: 2.5em;
    border-radius: 5px;
    padding: 0 5px;
    color: #d8a91a;
    font-size: 2em;
    text-align: center;
    margin-top: -1rem;
    font-size: 2.5em;
    max-width: 89vw;

}

.jumbotron h1 {
    color: #d8a91a;
    padding-bottom: 1rem;
    font-size: 2em;
}

.jumbotron h2{
  color: #d8a91a;
  font-size: 5.5em;
  text-shadow: 7px 11px 26px rgb(37, 37, 37);
  text-align: center;
}

.jumbotron h2 span.pull-left{
  text-align: left;
float: left;
    text-shadow: 0 0 0;
}

.jumbotron h2 span.pull-right{
  text-align: right;
float: right;
    text-shadow: 0 0 0;
}

.jumbotron select{
  background: #64081f;
border: 0;
height: 2.5em;
font-size: 2em;
text-align: center;
color: #d8a91a;
border-radius: 5px;


}

.jumbotron .btn{
  background: #d8a91a;
color: #64081f;
}
.jumbotron .btn:hover{
  background: #64081f;
color: #d8a91a;
}
.jumbotron .btn:focus{
  background: #64081f;
color: #d8a91a;
}
.jumbotron .btn:active{
  background: #d8a91a;
color: #64081f;
}

.jumbotron input:hover{
      border: 1px solid #d8a91a;
}

.jumbotron .score-editor:hover{
  color: #ffe763;
}
.jumbotron .score-editor{
  cursor: pointer;
}

.jumbotron select:hover{
      border: 1px solid #d8a91a;
}

.join-block{
  display: none;
}

.join-block{
  text-align: center;
}

.title-holder{
      height: 10vh;
      text-align: center;


}

.title-holder h1{
  cursor: pointer;
}

.main-header {
    padding: 50px;
    background-color: #64081f;
    color: #d8a91a;
    border: 0;
    text-align: center;
}

.main-header h1 {
    font-size: 5.5em;
    text-shadow: 7px 11px 26px rgb(37, 37, 37);
}



.row {
    height: 100%;
}



/*Animation classes*/

.moveup{
  -webkit-animation: moveup 5s; /* Chrome, Safari, Opera */
animation: moveup 5s;
top: 100vh;
}


/*.team-select {
    background-color: #8a0526;
    height: 8vh;
    color: #d8a91a;
    border: 0;
}

.join-block {
    color: #d8a91a;
    background-color: #8a0526;
    border: 0;
}

.joined-block {
    text-align: center;
    color: #d8a91a;
    background-color: #8a0526;
    border: 0;
}*/


/*MODAL*/

.answer-modal {
        height: 97vh;
    background-color: #64081f;
    color: #d8a91a;
}

.answer-modal h1 {
    margin-top: 25vh;
}

.answer-modal h3 {
    text-align: center;
}

.answer-modal .top-text {
    padding-top: 5vh;
}

.answer-modal .bottom-text {
    margin-top: 25vh;
}

.answer-modal .bottom-text span {
    font-size: 1.5em;
}

.answer-modal h3{
  padding-top: 1rem;
font-size: 3em;
}

.text-area{
      margin-bottom: 20vh;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    body {
        overflow: hidden;
    }
    .join-block{
      display: inherit;
    }

    .jumbotron{
          min-height: 12vh;
              padding: 1rem;
                  margin-bottom: 0.5rem;
    }

    .jumbotron h1{
        font-size: 1.2em;
    }
    .jumbotron h2{
          font-size: 3.0em;
    }

    .jumbotron h2 span{
      display: none;
    }

    .jumbotron input{
      font-size: 1.2em;
      margin-top: -0.5em;
      height: 2.0em;
    }

    .jumbotron select{
      font-size: 1.2em;
      height: 2.0em;
      margin-top: 0.5em;
          width: 100%;
    }

    .jumbotron .btn-join{
    margin-top: 1rem;
    width: 100%;
        font-size: 1.2em;
    }

    .jumbotron .btn-bing{
    margin-top: 1rem;
    width: 100%;
    height: 43vh;
    font-size: 5em;
    }

    .crown{
          width: 50px;
    }

    .crown-holder{
      top: -7px;
    }

    .crown-holder.left{
    right: -4px;
    }

    .crown-holder.right{
    right: -4px;
    -ms-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    }


.curtain h1{
  margin-top: 30vh;
  font-size: 1.6em;
}

    .title-holder{
      height: 5vh;
    }


    .main-header {
      height: 6vh;
padding: 0;
padding-top: 1rem;
    }
    .team-name {
        /*font-size: 6vw;*/
    }
    .main-header h1 {
        font-size: 6vw;
    }

    /*.joined-block button {
        position: absolute;
        bottom: 0;
        height: 50vh;
        width: 100%;
        left: 0;
        font-size: 2em;
    }
    .joined-block span {
        display: block;
        text-align: center;
        /*font-size: 1.9em;*/
  /*  }
    .join-block {
        text-align: center;
        height: 95vh;
        padding: 32px;
        font-size: 1.9em;
        overflow: hidden;
        margin-top: -1px;
    }
    .joined-block {
        text-align: center;
        height: 95vh;
        padding: 32px;
        font-size: 1.9em;
        margin-top: -1px;
    }
    .joined-block h3 {}
    .join-block span {
        display: block;
        text-align: center;
    }*/

    /*MODAL*/
    .answer-modal{
          padding-top: 20vh;
    }
    .answer-modal h3{
font-size: 1.5em;
    }

    .answer-modal h3 span{
      font-weight: bold;
      font-style: italic;
    }

    .answer-modal .text-area{
              margin-bottom: 10vh;
          padding-top: 1rem;
    }

    .answer-modal .big-number{
      font-size: 2em;
    }

    .team-select {
        padding: 0vw 7vw;
    }

    .jumbotron.score{
      padding-right: 0;
    }

    .score-holder{
      min-height: 12vh;
    padding: 1rem;
    margin-top: -1rem;
    background: #643232;
    border-radius: 0px 5px 5px 0px;
    }

}

.test{
  .best{
    background: #643232;
  }
}
