.answer-modal {
    height: 97vh;
    background-color: #64081f;
    color: #d8a91a;

    h1 {
        margin-top: 25vh;
    }

    h3 {
        text-align: center;
        padding-top: 1rem;
        font-size: 3em;
    }

    .top-text {
        padding-top: 5vh;
    }

    .bottom-text {
        margin-top: 25vh;
    }

    .bottom-text {
        span {
            font-size: 1.5em;
        }
    }
}
