.menu{
  height: 20vh;
  padding: 1vw;
  display: inline-block;
  float: right;
  .btn-group{
      .btn{
        background: transparent;
      }
  }
  .dropdown-toggle::after{
    display: none;
  }
  .dropdown-menu{
        background-color: #8a0526;
            left: -84px;
    li{
        padding: 15px;
    }

  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menu{
    display: none;
  }
}
