<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/magic/magic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Scoreboard</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js" charset="utf-8"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="scripts/app.js" charset="utf-8"></script>
<script src="scripts/components/modal/modal.controller.js" charset="utf-8"></script>

<body>
    <div class="container-fluid">

        <div class="row" ng-app="scoreboard" ng-controller="myCtrl">
            <div class="main-header col-xs-12">
                <h1>The Grand Movie Music Quiz </h1>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="jumbotron">
                  <div class="title-holder">

                  <h1 ng-click="teamOne.edit = true" ng-show="!teamOne.edit" >{{teamOne.name}}</h1>
                  <input placeholder="Enter Name" ng-model="teamOne.name" ng-show="teamOne.edit" ng-blur="teamOne.edit=false"/>
                </div>
                  <h2><span class="pull-left">-</span>{{teamOne.score}}<span class="pull-right">+</span></h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="jumbotron">
                  <div class="title-holder">

                    <h1 ng-click="teamTwo.edit = true" ng-show="!teamTwo.edit" >{{teamTwo.name}}</h1>
                    <input placeholder="Enter Name" ng-model="teamTwo.name" ng-show="teamTwo.edit" ng-blur="teamTwo.edit=false"/>
                  </div>
                    <h2><span class="pull-left">-</span>{{teamTwo.score}}<span class="pull-right">+</span></h2>
                </div>
            </div>

            <!--  <div class=" team-field team-one col-xs-6">
            <div class="team-name-holder">
                <h1 ng-click="teamOne.edit=true" ng-show="!teamOne.edit"><span ng-show="teamOne.name.length === undefined|| teamOne.name.length < 1" >Team Undefined</span> {{teamOne.name}}</h1>
                <div class="text-field-holder">
                    <input class="team-name" type="text" ng-placeholder="{{teamOne.name}}" ng-model="teamOne.name" ng-show="teamOne.edit" ng-blur="teamOne.edit=false">
                </div>
            </div>
            <h3 class="score">
    <span class="score-editor minus" ng-click="teamOne.score = teamOne.score -1; reducePoint('teamOne')">-</span>
    <span class="score-points teamOne" >
   {{teamOne.score}}</span>
    <span class="score-editor plus" ng-click="teamOne.score = teamOne.score +1; scoreSound(); addPoint('teamOne', 0)">+</span>
    </h3>

  </div>-->
            <!--  <div class=" team-field team-two col-xs-6">
            <div class="team-name-holder">
                <h1 ng-click="teamTwo.edit=true" ng-show="!teamTwo.edit"> <span ng-show="teamTwo.name.length === undefined|| teamTwo.name.length < 1" >Team Undefined 2 </span>  {{teamTwo.name}}</h1>
                <div class="text-field-holder">
                    <input class="team-name" type="text" placeholder="{{teamTwo.name}}" ng-model="teamTwo.name" ng-show="teamTwo.edit" ng-blur="teamTwo.edit=false">
                </div>
            </div>
            <h3 class="score">
    <span class="score-editor pull-left minus" ng-click="teamTwo.score = teamTwo.score -1; reducePoint('teamTwo')">-</span>
  <span class="score-points teamTwo">{{teamTwo.score}}</span>
    <span class="score-editor plus" ng-click="teamTwo.score = teamTwo.score +1; scoreSound(); addPoint('teamTwo', 1)">+</span>
    </h3>
  </div>-->
            <!--<div class=" col-xs-12 join-block" ng-show="!joined">

            <input class="team-name" type="text" placeholder="Your Name" ng-model="user.name">
            <select class="team-select" name="singleSelect" id="singleSelect" ng-model="user.team" ng-show="!joined">
 <option value="">---Please select team---</option>
 <option ng-repeat="team in teams" value="{{team.name}}">{{team.name}}</option>
</select>
            <button class="btn btn-warning" ng-click="join(); joined=true;" ng-disabled="!user.team">JOIN</button>
        </div> -->
            <!--  <div class="col-xs-12 joined-block" ng-show="joined">
            <h3>{{user.name}} <span>member of </span>{{user.team}}</h3>
            <button class="btn btn-warning" ng-click="bing()" ng-show="joined">BING</button>
        </div>-->
        </div>
    </div>
</body>

</html>
